{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--meta http-equiv="refresh" content="900"/-->
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.jqueryui.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>

    <!-- Latest compiled and minified CSS  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    {% block style %} {% endblock %}
    <style>.beta-ribbon {
                z-index: 80;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 8px;
                width: 110px;

                background: #50bcb6;
                position: absolute;
                top: 0px;
                right: -35px;
                text-align: center;
                line-height: 30px;
                letter-spacing: 1px;
                color: #f0f0f0;
                transform: rotate(30deg); }</style>
    <!--[if lt IE 9]-->
    <script src="{% static 'js/html5shiv.min.js'%}"></script>
    <script src="{% static 'js/respond.min.js'%}"></script>
    <!--for altair chart display -->
    <script src="{% static 'js/vega_3.2.js' %}"></script>
    <script src="{% static 'js/vega_lit_2.4.1.js' %}"></script>
    <script src="{% static 'js/vega_embed_3.0.js' %}"></script>

    <!--[endif]-->

</head>

<body>


<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="beta-ribbon top-right sticky blue"
             style="font-weight: bold; font-size: 6px;font-family: 'Noto Sans', sans-serif;z-index:9999; ">
             Prototype
        </div>

        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">FreeChatBot</a>


            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a lass="dropdown-toggle" href="{% url 'bot:main' %}">Chat</a></li>
                        <!--li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Order</a></li>
                                <li><a href="">Search</a></li>
                            </ul>
                        </li-->

                        <!--li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Report<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Analysis</a></li>
                            </ul>
                        </li-->

                </ul>

            </div>

        </div>

    </nav>
</div>
<div class="container col-xl-12 col-lg-12 col-12 col-md-12 col-sm-12" style="margin: 10 auto; width: 98%; !important">
    {% block body_block %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>

<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/bootstrap-tab.js' %}"></script>


<script>
    $(document).ready(function() {
        $( document ).on('click',".nav.navbar-nav li",function() {
               $( this ).addClass( 'active' );
            } );
        });

</script>
<script> {% block script %} {% endblock %}</script>
</body>
</html>
